/* ----------------- Debug ------------------ */
/** {
    box-sizing: border-box;
    border: 1px solid white;
}*/

/* ----------- General/Global Style --------- */
::-webkit-scrollbar {
    width: 12px;
    height: 16px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.35);
}

html, body {
    background: rgb(54, 57, 63);
    font-family: sans-serif;
    position: absolute;
    font-size: 10px;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

.basic-hover {
    background: rgb(54, 57, 63);
}

.basic-hover:hover {
    background: rgb(50, 53, 59);
}

.basic-button {
    box-shadow: 0 3px 0 0 rgba(62, 62, 62, 0.7);
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    color: rgb(221, 221, 221);
    background: rgb(98, 98, 98);
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 2em;
    line-height: 1.6em;
    margin: 1em 0 1em 0;
    outline: none;
    width: 100%;
    padding: 0.8em 0;
    text-shadow: 0 1px 3px rgba(115, 115, 115, 0.7);
}

.basic-form-header {
    margin: 0 0 20px 0;
    padding: 10px 0 15px 0;
    text-align: center;
    font-size: 30px;
    color: rgb(190, 190, 190);
    border-bottom: solid 1px rgb(229, 229, 229);
}

.basic-back {
    position: relative;
    display: inline-block;
    color: rgb(128, 128, 128);
    font-size: 24px;
    margin: 10px 0 0 10px;
}

/* ----------- Basic Registration/Login Form --------- */
.basic-form {
    background: #454141;
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 3em rgb(34, 34, 34);
    border-radius: 8px;
    z-index: 1
}

.basic-form p {
    margin: 0 0 3em 0;
    position: relative;
}

.basic-form p[id="result"] {
    margin: -10px 0 20px 0;
    display: block;
    text-align: center;
    font-size: 16px;
}

.basic-form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
}

.basic-form input[type="text"],
.basic-form input[type="password"] {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(219, 219, 219);
    font-size: 1.6em;
    padding: 0.8em 0.5em;
    border-radius: 8px;
}

.basic-form label {
    position: relative;
    color: rgb(153, 153, 153);
    top: 30px;
    user-select: none;
    font-size: 14px;
    display: inline-block;
    padding: 0 0 0 10px;
    margin: -4px 0 0 0;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    transition: top 200ms;
}

/* Basic Central Application Containers */
.basic-app-container {
    position: absolute;
    resize: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: black;
}

.basic-hamburger-content {
    position: relative;
    width: inherit;
    height: 80px;
    z-index: 1;
    box-shadow: 0 4px 2px -2px rgba(29, 32, 33, 0.67);
}

.basic-hamburger-wrapper {
    width: 50px;
    height: 40px;
    position: relative;
    float: right;
    margin: 20px 20px auto auto;
    cursor: pointer;
}

.basic-hamburger {
    transform: rotate(0deg);
}

.basic-hamburger span {
    position: absolute;
    height: 8px;
    width: 100%;
    background: rgb(64, 68, 75);
    border-radius: 8px;
    opacity: 1;
    left: 0;
    transition: 250ms ease-in-out;
}

.basic-hamburger span:nth-child(1) {
    top: 0;
}

.basic-hamburger span:nth-child(2),
.basic-hamburger span:nth-child(3) {
    top: 15px;
}

.basic-hamburger span:nth-child(4) {
    top: 30px;
}

.basic-hamburger.open span:nth-child(1) {
    top: 16px;
    width: 0;
    left: 50%;
}

.basic-hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

.basic-hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.basic-hamburger.open span:nth-child(4) {
    top: 16px;
    width: 0;
    left: 50%;
}

.basic-sidebar {
    position: relative;
    width: 90px;
    float: left;
    height: inherit;
    background: rgb(47, 49, 54);
    transition: 350ms;
}

.basic-sidebar.open {
    width: 180px;
}

.basic-sidebar-scroller {
    position: relative;
    height: 100%;
    display: flex;
    width: 100%;
    float: left;
    overflow-y: auto;
    flex-direction: column;
    background: rgb(47, 49, 54);
}

.basic-sidebar-content {
    position: relative;
    height: inherit;
    width: 90px;
    float: left;
    overflow: visible;
}

.basic-guild-icon {
    position: relative;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    margin: 20px auto 0 20px;
    transition: 250ms;
}

.basic-guild-icon:hover {
    border-radius: 33%;
}

.basic-app-header {
    position: relative;
    height: 80px;
    background: rgb(54, 57, 63);
    box-shadow: 0 4px 2px -2px rgba(29, 32, 33, 0.67);
    display: flex;
    z-index: 1;
}

.basic-message-container {
    position: relative;
    height: calc(100% - 80px);
    background: rgb(54, 57, 63);
    display: flex;
}

.basic-message-wrapper {
    position: absolute;
    width: calc(100% - 100px);
    display: block;
    max-height: 259px;
    padding: 14px 0;
    overflow-y: auto;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 30px;
    background: rgb(64, 68, 75);
    border-radius: 10px;
}

.basic-message-textbox {
    position: relative;
    width: 85%;
    background: inherit;
    margin: 0 auto;
    resize: none;
    font-size: 18px;
    outline: none;
    color: rgb(220, 221, 222);
}
