/* ----------------- Debug ------------------ */
/** {
    outline: 1px solid white;
}*/

/* ----------- General/Global Style --------- */
div *::-webkit-scrollbar {
    width: 12px;
    height: 16px;
}

div *::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.35);
}

* {
    user-select: none;
}

html, body {
    background: rgb(54, 57, 63);
    font-family: Whitney,Helvetica,sans-serif;
    position: absolute;
    font-size: 10px;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

.color-red {
    color: rgb(240, 63, 59) !important;
}

.color-red:hover {
    background: rgb(66, 51, 55) !important;
}

.basic-active {
    background: rgb(57, 60, 67);
    cursor: pointer;
}

.basic-separator {
    width: 95%;
    height: 2px;
    padding: 0;
    border: 0;
    margin: 8px 0 8px 3px;
    background: rgb(59, 61, 66);
    vertical-align: baseline;
}

.basic-group-start {
    padding: 2px 64px !important;
    margin-top: 1rem;
    min-height: 2.75rem;
}

.basic-form-button {
    box-shadow: 0 3px 0 0 rgba(62, 62, 62, 0.7);
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    color: rgb(221, 221, 221);
    background: rgb(103, 123, 196);
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 2em;
    line-height: 1.6em;
    margin: 1em 0 1em 0;
    outline: none;
    width: 100%;
    padding: 0.8em 0;
    text-shadow: 0 1px 3px rgba(115, 115, 115, 0.7);
}

.basic-form-header {
    margin: 0 0 20px 0;
    padding: 10px 0 15px 0;
    text-align: center;
    font-size: 30px;
    color: rgb(190, 190, 190);
    border-bottom: solid 1px rgb(229, 229, 229);
}

/* ----------- Basic Registration/Login Form --------- */
.basic-form {
    background: rgb(54, 57, 63);
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 3em rgb(34, 34, 34);
    border-radius: 8px;
    z-index: 1
}

.basic-form p {
    margin: 0 0 3em 0;
    position: relative;
}

.basic-form p[id="result"] {
    margin: -10px 0 20px 0;
    display: block;
    text-align: center;
    font-size: 16px;
}

.basic-form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
}

.basic-form input[type="text"],
.basic-form input[type="password"] {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(219, 219, 219);
    font-size: 1.6em;
    padding: 0.8em 0.5em;
    border-radius: 8px;
}

.basic-form label {
    position: relative;
    color: rgb(153, 153, 153);
    top: 30px;
    font-size: 14px;
    display: inline-block;
    padding: 0 0 0 10px;
    margin: -4px 0 0 0;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    transition: top 200ms;
}

/* Basic Main Application Styles */
.basic-master-container {
    position: absolute;
    resize: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: inherit;
}

.basic-app-container {
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
    z-index: 0;
    resize: none;
    opacity: 1;
    transition:
        z-index 450ms ease-out,
        opacity 450ms ease-out;
}
/* Basic Hamburger Style */
.basic-hamburger-content {
    position: relative;
    width: inherit;
    flex: 0 0 80px;
    z-index: 1;
    box-shadow: 0 4px 2px -2px rgba(29, 32, 33, 0.67);
}

.basic-hamburger-wrapper {
    width: 50px;
    height: 40px;
    position: relative;
    float: right;
    margin: 20px 20px 0 0;
    cursor: pointer;
}

.basic-hamburger {
    transform: rotate(0deg);
}

.basic-hamburger span {
    position: absolute;
    height: 8px;
    width: 100%;
    background: rgb(64, 68, 75);
    border-radius: 8px;
    opacity: 1;
    left: 0;
    transition:
        top 250ms ease-in-out,
        left 250ms ease-in-out,
        width 250ms ease-in-out,
        transform 250ms ease-in-out;
}

.basic-hamburger span:nth-child(1) {
    top: 0;
}

.basic-hamburger span:nth-child(2),
.basic-hamburger span:nth-child(3) {
    top: 15px;
}

.basic-hamburger span:nth-child(4) {
    top: 30px;
}

.basic-hamburger.open span:nth-child(1) {
    top: 16px;
    width: 0;
    left: 50%;
}

.basic-hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

.basic-hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.basic-hamburger.open span:nth-child(4) {
    top: 16px;
    width: 0;
    left: 50%;
}

/* Basic Sidebar Style */
.basic-sidebar {
    position: relative;
    width: 90px;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    float: left;
    background: rgb(47, 49, 54);
    transition: width 350ms;
}

.basic-sidebar.open {
    width: 280px;
}

.basic-sidebar-scroller {
    position: relative;
    flex: 0 1 100%;
    width: inherit;
    overflow: hidden auto;
    background: rgb(47, 49, 54);
}

.basic-sidebar-footer {
    position: relative;
    width: inherit;
    overflow: hidden;
    flex: 1 0 80px;
    flex-direction: row;
    display: flex;
    background: rgb(41, 43, 47);
    box-shadow:
        0  3px 2px rgba(29, 32, 33, 0.67),
        0 -3px 2px rgba(29, 32, 33, 0.67);
    z-index: 1;
}

.basic-sidebar-content {
    position: relative;
    padding-top: 15px;
    width: inherit;
    float: left;
    overflow: visible;
}

.basic-username {
    position: relative;
    font-size: 11pt;
    width: 140px;
    flex: 1 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto 1px;
    color: white;
}

.basic-user-settings {
    position: relative;
    border-radius: 4px;
    align-items: center;
    display: flex;
    margin: auto 0;
    flex-direction: row;
    flex: 0 1 auto;
}

.basic-settings-icon {
    position: relative;
    margin: 0 12px 0 12px;
    width: 24px;
    height: 24px;
    transition: transform 450ms;
}

.basic-settings-icon:hover {
    transform: rotate(90deg);
    cursor: pointer;
}

/* Basic Icon Style */
.basic-sidebar-icon {
    position: relative;
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 50%;
    margin: 0 0 12px 21px;
    transition: border-radius 250ms;
}

.basic-sidebar-icon:hover {
    border-radius: 33%;
}

.basic-user-icon {
    position: relative;
    flex: 0 0 40px;
    background: white;
    border-radius: 50%;
    margin: 20px 25px;
}

/* Basic Header Style */
.basic-master-app {
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100%;
    flex: 1;
}

.basic-header {
    position: relative;
    width: 100%;
    flex: 0 0 80px;
    background: rgb(54, 57, 63);
    box-shadow: 0 4px 2px -2px rgba(29, 32, 33, 0.67);
    z-index: 1;
}

/* Basic Message Box Style */
.basic-message-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    background: rgb(54, 57, 63);
}

.basic-message-scroller {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 0;
    flex-direction: column-reverse;
    overflow: hidden auto;
}

.basic-message-wrapper {
    position: relative;
    width: inherit;
    flex-direction: column;
    display: flex;
    overflow: hidden visible;
    padding: 0 0 16px 0;
}

/* Basic Chat Message Group Style */
.basic-message-group {
    position: relative;
    height: inherit;
    flex: 1 0 auto;
    padding: 2px 64px 2px 128px;
}

.basic-message-group:hover {
    background: rgb(50, 53, 59);
}

/* Basic Chat Message Style */
.basic-chat-message {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 8px;
    text-indent: 0;
}

.basic-message-avatar {
    position: relative;
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    border-radius: 50%;
    background: white;
    overflow: hidden;
    margin: calc(4px - .125rem) 0 0 0;
}

.basic-message-text {
    position: relative;
    font-size: 11pt;
    display: flex;
    margin: 0 0 0 16px;
    flex: 1 0 auto;
    flex-direction: column;
    color: rgb(150, 151, 155);
}

.basic-message-username {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    user-select: text;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 12pt;
}

.basic-message-content {
    position: relative;
    font-size: 12pt;
    white-space: break-spaces;
    display: flex;
    user-select: text;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    color: rgb(171, 172, 177);
}

/* Basic Message Textbox Style */
.basic-message-sender {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
}

.basic-textbox-wrapper {
    position: relative;
    width: calc(100% - 100px);
    max-height: 259px;
    margin: 0 auto 31px;
    padding: 14px 0;
    overflow-y: auto;
    background: rgb(64, 68, 75);
    border-radius: 10px;
}

.basic-message-textbox {
    position: relative;
    width: inherit;
    background: inherit;
    margin: 0 auto;
    resize: none;
    font-size: 18px;
    outline: none;
    color: rgb(220, 221, 222);
}

/* Basic Settings Style */
.basic-settings-container {
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
    z-index: -1;
    resize: none;
    opacity: 0;
    transition:
        z-index 450ms ease-out,
        opacity 450ms ease-out;
}

.basic-settings-sidebar {
    position: relative;
    height: 100%;
    width: 280px;
    float: left;
    background: rgb(47, 49, 54);
}

.basic-settings-sidebar-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}

.basic-settings-sidebar-line {
    position: absolute;
    height: 100%;
    width: 220px;
    right: 0;
    display: flex;
    flex: 1;
    padding: 50px 0 0 30px;
    flex-direction: column;
    overflow: hidden auto;
}

.basic-settings-sidebar-button {
    position: relative;
    width: 80%;
    font-size: 12pt;
    float: right;
    padding: 10px;
    margin: 0 0 0 10px;
    text-align: left;
    outline: none;
    color: rgb(215, 221, 217);
    border-radius: 10px;
    transition: background 250ms ease-in-out;
}

.basic-settings-sidebar-button:hover {
    background: rgb(57, 60, 67);
    cursor: pointer;
}

.basic-settings-main {
    position: relative;
    height: 100%;
    display: flex;
    background: rgb(54, 57, 63);
}

.basic-settings-close-button {
    position: absolute;
    height: 36px;
    width: 36px;
    top: 32px;
    right: 32px;
    background: transparent;
    padding: 12px 0 0 12px;
    border: 2px solid rgb(99, 102, 110);
    transition: background 250ms ease-in-out;
    border-radius: 50%;
}

.basic-settings-close-button:hover {
    background: rgb(72, 76, 82);
    cursor: pointer;
}